@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #262626;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  line-height: 2;
}

h1 {
  font-size: 72px;
  font-weight: 700;
  font-family: "Tinos", serif;
  letter-spacing: 5px;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Tinos", serif;
}

.h6-text {
  font-size: 24px;
  font-family: "Tinos", serif;
}

.body-text {
  font-size: 20px;
}

.body-2-text {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #262626;
  cursor: pointer;
}

.font-weight-bold {
  font-weight: 700;
  color: inherit;
}

.primary-text {
  color: #febbc2;
}

.secondary-text {
  color: #fffafa;
}

.blue-1-text {
  color: #bacdfc;
}

.blue-2-text {
  color: #5a88ff;
}

.black-text {
  color: #262626;
}

.white-text {
  color: #ffffff;
}

.primary-bg {
  background-color: #febbc2;
}

.secondary-bg {
  background-color: #fffafa;
}

.blue-1-bg {
  background-color: #bacdfc;
}

.blue-2-bg {
  background-color: #5a88ff;
}

.black-bg {
  background-color: #262626;
}

.white-bg {
  background-color: #ffffff;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 600px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 960px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1280px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

hr {
  border-color: #828282;
  border-width: 0.5px;
}

.link-blue-2 {
  line-height: 56px;
  min-height: 56px;
  color: #ffffff;
  background: #5a88ff;
  font-family: "Tinos", serif;
  padding: 16px 48px;
  border-radius: 30px;
  font-weight: 500;
}

.btn {
  border: none;
  font-weight: 600;
  font-size: 20px;
  padding: 12px 24px;
  border-radius: 30px;
  cursor: pointer;
}
.btn.primary {
  background: #febbc2;
}

.top-nav {
  display: inline-flex;
  align-items: center;
  margin-bottom: 40px;
}
.top-nav a {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  line-height: 48px;
  position: relative;
}
.top-nav a:not(:last-child) {
  margin-right: 40px;
}
.top-nav a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 12px;
  top: 50%;
  left: 0;
  transform: translate(10px, -2%);
  background: #febbc2;
  opacity: 0.7;
  z-index: -10;
  transition: width 0.3s;
}
.top-nav a:hover, .top-nav a.active {
  font-weight: 600;
}
.top-nav a:hover::before, .top-nav a.active::before {
  width: 120%;
}

.banner-flex--wrapper {
  position: relative;
}
@media (min-width: 600px) {
  .banner-flex--wrapper {
    display: grid;
    grid-template-columns: 471px 1fr;
    gap: 72px;
  }
}

.banner-left--wrapper {
  position: relative;
  max-width: 471px;
  width: 100%;
  height: 80vh;
  border-radius: 0px 0px 217px 217px;
  background: linear-gradient(132.76deg, #febbc2 0%, #f39ca3 49.01%, #e97f85 83.71%);
}
@media (min-width: 960px) {
  .banner-left--wrapper {
    height: 600px;
  }
}
.banner-left--wrapper img {
  width: 100%;
  position: absolute;
  z-index: 100;
  border-radius: 217px;
  bottom: 0;
}

.banner-right--wrapper {
  padding-top: 40px;
}
.banner-right--wrapper h1 {
  margin: 12px 0 40px;
}
.banner-right--wrapper .banner-title--wrapper {
  position: relative;
}
.banner-right--wrapper .banner-title--wrapper ::before {
  content: "";
  position: absolute;
  bottom: -60px;
  left: 30px;
  width: 350px;
  height: 66px;
  border: solid 5px #5a88ff;
  border-color: #5a88ff transparent transparent transparent;
  border-radius: 50%/66px 19px 0 0;
}
.banner-right--wrapper .banner-sub {
  margin-bottom: 40px;
}
@media (min-width: 960px) {
  .banner-right--wrapper {
    max-width: 400px;
    position: absolute;
    right: 60px;
  }
}

#my-story.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#my-story.full-screen:after {
  display: none;
}

.line-skill--wrapper {
  margin: 40px 0;
  position: relative;
  min-height: 100px;
  display: none;
}
@media (min-width: 1280px) {
  .line-skill--wrapper {
    display: block;
  }
}

.line-skill {
  background-color: #fd8894;
  padding: 30px;
  position: absolute;
  min-width: calc(100vw + 530px);
  transform: rotate(-4.47deg);
  left: -30px;
  color: #ffffff;
  display: flex;
  justify-content: center;
}
.line-skill span {
  position: relative;
  padding-left: 12px;
}
.line-skill span::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.line-skill span:not(:last-child), .line-skill span:not(:first-child) {
  margin: 0 8px;
}
.line-skill.straight {
  opacity: 0.2;
  transform: rotate(1deg);
  z-index: -1;
  left: -300px;
}

.section-about {
  text-align: center;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-about h2 {
  margin-bottom: 20px;
}

.skills {
  max-width: 500px;
  margin: 20px auto 0;
}
.skills p {
  font-weight: 500;
}

.section-collaboration {
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
}
.section-collaboration button {
  margin-top: 20px;
}

.text-collaboration {
  font-size: 100px;
}
.text-collaboration-small {
  font-weight: 700;
}

footer hr {
  margin: 80px 0;
}

.footer-flex {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-flex blockquote {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.text-copyright {
  font-size: 14px;
  opacity: 0.7;
}

.link-sosmed--wrapper {
  text-align: right;
}
.link-sosmed--wrapper div {
  margin: 8px 0;
}
.link-sosmed--wrapper div:hover a {
  font-weight: 700;
  color: #5a88ff;
}
.link-sosmed--wrapper a {
  font-size: 16px;
}

.section-project {
  margin-top: 40px;
  min-height: 0;
}

.container-project {
  padding-top: 140px;
  padding-bottom: 140px;
  display: flex;
  align-items: end;
  gap: 60px;
}
.container-project h2 {
  margin-bottom: 60px;
}

.swiper-project {
  padding: 20px;
  background: #bacdfc;
  border-radius: 50px;
  padding: 20px;
}
.swiper-project.swiper {
  width: 480px;
  height: 360px;
  margin-left: 0;
}
.swiper-project .swiper-slide {
  background-position: center;
  background-size: cover;
  padding: 20px;
}
.swiper-project .swiper-slide img {
  display: block;
  margin-top: 16px;
}
.swiper-project .swiper-slide span {
  font-weight: 300;
  font-size: 16px;
}
.swiper-project .swiper-content-img {
  display: flex;
  justify-content: center;
}
.swiper-project .swiper-button-next {
  position: absolute;
  bottom: 0;
}

.title-project-mcrypto {
  position: absolute;
}

.project-right--wrapper {
  width: 100%;
}
.project-right--wrapper ul {
  align-self: flex-end;
}
.project-right--wrapper li {
  list-style: none;
  padding: 16px 0;
  border-bottom: 0.5px solid #bfbfbf;
  display: flex;
  gap: 12px;
  align-items: center;
}

.project-title {
  font-weight: 500;
  margin-bottom: 4px;
  font-size: 16px;
}

.project-desc {
  font-size: 14px;
  color: #828282;
  line-height: 1.5;
}/*# sourceMappingURL=main.css.map */