$primary: #febbc2;
$primary-dark: #fd8894;
$primary-soft: #febbc288;
$secondary: #fffafa;
$blue-1: #bacdfc;
$blue-2: #5a88ff;
$black: #262626;
$black-1: #333333;
$black-2: #828282;
$white: #ffffff;

$screen-xl: 1400px;
$screen-lg: 1280px;
$screen-md: 960px;
$screen-sm: 600px;

$h1: 72px;
$h2: 48px;
$h3: 40px;
$h6: 24px;
$text-body: 20px;
$text-body-2: 16px;

$font-family-tinos: "Tinos", serif;
$font-family-roboto: "Roboto", sans-serif;
